.MainDiv{
    background-color: white;
     z-index: -1;
     height: 100%;
     width: 100%
     /* box-sizing: border-box; */

}

#emailText{
    width: 100px;
}

.divBody{
    /*background-color: beige;*/
    /*padding: 8%;*/
}

@media (max-width: 400px){
    .iframe{
        width: 100px;
    }
}

.input{
    width: 30px;
}