.Modal {
    position: fixed;
    z-index: 500;

    width: 70%;
    height: 700px;
    /*border: 1px solid #222222;*/
    /*box-shadow: 0px 1px 1px black;*/
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow:no-display;
    background: linear-gradient(to bottom, white 50%, #212121 50%);

}

@media (min-width: 800px) {
    .Modal {
        width: 800px;
        height: 400px;
        left: calc(40% - 250px);
        overflow: no-content;
        background: linear-gradient(to right, white 50%, #212121 50%);
    }
}